@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("./sections/hero.css");
@import url("./sections/about.css");
@import url("./sections/features.css");
@import url("./sections/features-mobile.css");
@import url("./sections/contact.css");

:root {
  --primary-blue: #14586f;
  --beige: #e8e0d5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--beige);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  padding: 60px;
}
.slogan-section {
  height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slogan-section h3 {
  color: var(--primary-blue);
  font-family: "Oleo Script", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  padding: 20px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}
.swiper-container {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.swiper-wrapper {
  padding: 0;
  margin: 0;
}

.swiper-slide {
  padding: 0;
  margin: 0;
}

.feature-control-title {
  margin: 10px 0;
  font-weight: bold;
}

.feature-control-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

@media (min-width: 1600px) {
  .wrapper {
    padding: 60px 200px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 120px 60px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    padding: 40px 140px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 60px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    padding: 40px 20px;
  }
  .slogan-section h3 {
    font-size: 32px;
  }
}
