.features-mobile {
  display: none;
  overflow-y: hidden;
}

.feature-control {
  position: relative;
}

.feature-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.feature-control-title {
  font-weight: bold;
  text-align: center;
  width: 310px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-blue);
  font-size: 20px;
  font-family: "Petrona", serif;
  font-family: "Petrona", serif;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 24px !important;
}
.feature-control-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  padding: 0;
  height: 280px;
  margin: 2px;
  list-style-type: none;
}
.feature-control-list li + li {
  margin-top: 8px;
}

#feature-image {
  transition: opacity 0.3s ease-in-out;
}

.features-mobile-images {
  overflow: hidden;
}

@media (max-width: 600px) {
  .feature-control-list {
    font-size: 14px;
  }

  .feature-control-list li {
    font-size: 14px;
  }
}

.feature-control {
  display: none;
}

.feature-control.active {
  display: block;
}
.features-mobile-images {
  position: relative;
  margin-bottom: 48px;
}
.features-mobile-images img {
  width: 100%;
}

@media (max-width: 991px) {
  .features-mobile {
    display: block;
  }
}
@media (max-width: 500px) {
  .feature-control-title {
    font-size: 20px;
  }
}
