.hero {
  height: 110dvh;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 40%;
}
.hero-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  max-width: 800px;
}
.hero-img {
  width: 45%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.hero-text {
  color: #f9f9f9d9;
  font-weight: 400;
  font-size: 18px;
}
.hero-button {
  width: 192px;
  height: 52px;
  padding: 14px 32px;
  gap: 8px;
  border-radius: 16px;
  background-color: #f9f9f9;
  color: #14586f;
  font-weight: 600;
  opacity: 1;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin: 0;
}

.hero-button:hover {
  background-color: #e0e0e0;
  color: #14586f;
}

.hero-button:active {
  background-color: #c4c4c4;
  color: #ffffff;
  transform: scale(0.98);
}

@media (max-width: 991px) {
  .hero {
    height: 140dvh;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }
  .hero-img {
    width: 100%;
  }
  .hero-button {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 130dvh;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }
  .hero-img {
    width: 100%;
  }
  .hero-button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 130dvh;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin-top: -40px;
  }
  .hero-img {
    width: 100%;
  }
  .hero-button {
    width: 100%;
  }
}
